{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head  runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>销售页面</title>
    <link rel="stylesheet" href={% static "Themes/EasyUI/default/easyui.css" %} />
    <link rel="stylesheet" href={% static "Themes/EasyUI/icon.css" %} />
    <script src={% static "Themes/EasyUI/jquery.min.js"%}></script>
    <script src={% static "Themes/EasyUI/jquery.easyui.min.js"%}></script>
    <script src={% static "Themes/Scripts/FunctionJS.js"%} type="text/javascript"></script>
</head>
     <script>
         $(document).ready(function () {
             InitDg1();
             LoadDg1();//一开始就加载所有

         })

         //////////////////***************供应商信息 初始化 + 加载 *************///////////////////////////
         function InitDg1() {
             var datajson = [];

             $("#dg1").datagrid({
                 data: datajson,
                 title: '供应商信息',
                 columns: [[
                      { field: 'CK', title: '', checkbox: true, width: "5%" },
                      { field: 'Sellername', title: '商户名称', width: "18%", align: 'center' },
                      { field: 'Sellerproperty', title: '商户属性', width: "15%", align: 'center' },
                      { field: 'SellerOwner', title: '负责人姓名', width: "12%", align: 'center' },
                      { field: 'SellerOwnerPhone', title: '负责人手机号', width: "12%", align: 'center' },
                      { field: 'SellerOwnerLevel', title: '所属楼栋', width: "12%", align: 'center' },
                      { field: 'SellerOwnerNo', title: '所属编号', width: "12%", align: 'center' },
                      { field: 'SellerOwnerArea', title: '占地面积', width: "20%", align: 'center' },

                 ]],
                 showFooter: true,
                 pagination: true,
                 singleSelect: true,
                 selectOnCheck: true,
                 onClickRow: function (index, row) {
                 }
             })
         }

         /***********加载本地供应商信息数据****************/
         function LoadDg1() {
             var datajson = [];
             var parm = 'action=LoadData';
             getAjax("/Seller/", parm, function (backstring) {
                 if (backstring != "") {
                     datajson = jQuery.parseJSON(backstring);
                 }
             })
             $("#dg1").datagrid('loadData', datajson);//加载本地数据，旧的行将被移除

         }
         /******************加载结束***********************/


         /****************新建商户信息*****************/
         function ShowDlg1_2() {
             $('#dlg1_2').show();
             $('#dlg1_2').dialog({
                 title: '新增商户',
                 width: 705,
                 height: 420,
                 closed: false,
                 shadow: true,
                 onResize: function () {
                     $(this).dialog('center');
                 },
                 onOpen: function () {
                     $("#dlg1_2_txt_1").textbox('setValue', "");
                     LoadCat();//加载类型选项

                     $("#dlg1_2_txt_3").textbox('setValue', "");
                     $("#dlg1_2_txt_4").textbox('setValue', "");
                     $("#dlg1_2_txt_5").combobox('setValue', "");
                     $("#dlg1_2_txt_6").textbox('setValue', "");
                     $("#dlg1_2_txt_7").textbox('setValue', "");

                 },
                 onClose: function () {
                     LoadDg1();
                 },
                 buttons: '#dlg1_2-buttons1_add',

             });
         }

         //////*******************保存供应商信息**************************/
         function save() {

             var name = $("#dlg1_2_txt_1").textbox('getValue');
             var type = $("#dlg1_2_txt_2").combobox('getValue');// 名称   //获得的是type而不是title   ，但若不做任何下拉选择的话，就会被当文本框处理，得到title
             var manager = $("#dlg1_2_txt_3").textbox('getValue');
             var phone = $("#dlg1_2_txt_4").textbox('getValue');
             var floor = $("#dlg1_2_txt_5").combobox('getText');//直接获取text文本
             var number = $("#dlg1_2_txt_6").textbox('getValue');
             var area = $("#dlg1_2_txt_7").textbox('getValue');

             var parm = 'action=Save&name=' + name + '&type=' + type + '&manager=' + manager + '&phone=' + phone + '&floor=' + floor + '&number=' + number + '&area=' + area;
             getAjax("/Seller/", parm, function (data)
             {
                 var backstring = jQuery.parseJSON(data);// eval("(" + data + ")");
                 if (backstring == "1") {
                     $('#dlg1_2').dialog('close');

                     LoadDg1();

                 }
                 else
                     alert("保存失败");
             })
         }

         /*************新建结束*****************/


         //////////////////***************Dlg1_1  详情查看  *************///////////////////////////
         function ShowDlg1_1() {
             var row_slec = $("#dg1").datagrid('getSelected');
             if (row_slec != null) {
                 var value_id = row_slec.value_id;///索引号

                 $('#dlg1_1').show();
                 $('#dlg1_1').dialog({
                     title: '商户详情',
                     width: 700,
                     height: 400,
                     closed: false,
                     shadow: true,
                     onResize: function () {
                         $(this).dialog('center');
                     },
                     onOpen: function () {
                         $("#dlg1_1_txt_1").textbox('setValue', row_slec.Sellername);
                         $("#dlg1_1_txt_2").textbox('setValue', row_slec.Sellerproperty);
                         $("#dlg1_1_txt_3").textbox('setValue', row_slec.SellerOwner);
                         $("#dlg1_1_txt_4").textbox('setValue', row_slec.SellerOwnerPhone);
                         $("#dlg1_1_txt_5").textbox('setValue', row_slec.SellerOwnerLevel);
                         $("#dlg1_1_txt_6").textbox('setValue', row_slec.SellerOwnerNo);
                         $("#dlg1_1_txt_7").textbox('setValue', row_slec.SellerOwnerArea);

                     },
                     onClose: function () {
                         LoadDg1(0);
                     }
                 });
             }
             else {
                 alert("勾选要查看的项!");
             }
         }
         //////////////////***************Dlg1_1  详情查看 结束 *************///////////////////////////

         function show_edit() {
             var row_slec = $("#dg1").datagrid('getSelected');
             if (row_slec != null) {
                 var value_id = row_slec.value_id;///索引号

                 $('#dlg1_2').show();
                 $('#dlg1_2').dialog({
                     title: '编辑商户',
                     width: 705,
                     height: 420,
                     closed: false,
                     shadow: true,
                     onResize: function () {
                         $(this).dialog('center');
                     },
                     onOpen: function () {
                         $("#dlg1_2_txt_1").textbox('setValue', row_slec.value1);
                         LoadCat();
                         $("#dlg1_2_txt_2").combobox('setValue', row_slec.value2);
                         $("#dlg1_2_txt_3").textbox('setValue', row_slec.value3);
                         $("#dlg1_2_txt_4").textbox('setValue', row_slec.value4);
                         $("#dlg1_2_txt_5").combobox('setValue', row_slec.value5);
                         $("#dlg1_2_txt_6").textbox('setValue', row_slec.value6);
                         $("#dlg1_2_txt_7").textbox('setValue', row_slec.value7);

                     },
                     buttons: [{
                         text: '确定',
                         iconCls: 'icon-ok',
                         handler: function () {
                             $('#dlg1_2').dialog('close');
                             save_edit();
                         }
                     }],
                     onClose: function () {
                         LoadDg1(0);
                     },

                 });
             }
             else {
                 alert("勾选要修改的项!");
             }
         }


         ///////选择商户属性
         function LoadCat() {
             var datajson = [];
             var parm = 'action=LoadSellerCat';
             getAjax("/Seller/", parm, function (backstring) {
                 if (backstring != "") {
                     datajson = eval("(" + backstring + ")");
                 }
             })

             $('#dlg1_2_txt_2').combobox({
                 data: datajson,
                 valueField: 'type',
                 textField: 'title',
                 showItemIcon: true,
             })
         }

         function save_edit() {

             var name = $("#dlg1_2_txt_1").textbox('getValue');
             var type = $("#dlg1_2_txt_2").combobox('getValue');// 名称   //获得的是type而不是title   ，但若不做任何下拉选择的话，就会被当文本框处理，得到title
             var manager = $("#dlg1_2_txt_3").textbox('getValue');
             var phone = $("#dlg1_2_txt_4").textbox('getValue');
             var floor = $("#dlg1_2_txt_5").combobox('getText');//直接获取text文本
             var number = $("#dlg1_2_txt_6").textbox('getValue');
             var area = $("#dlg1_2_txt_7").textbox('getValue');

             var parm = 'action=Edit&name=' + name + '&type=' + type + '&manager=' + manager + '&phone=' + phone + '&floor=' + floor + '&number=' + number + '&area=' + area;
             getAjax("/Seller/", parm, function (data) {
                 var backstring = eval("(" + data + ")");
                 if (backstring == "1") {
                     $('#dlg1_2').dialog('close');
                     LoadDg1();
                 }
                 else
                     alert("编辑失败");
             })
         }

     </script>



     <style>

        .datagrid-row-selected
        {
            background: rgba(178, 204, 233, 0.50);
        }

        .body
        {
            overflow: hidden;
        }
    </style>



<body class="easyui-layout" style="width: 100%; height: 100%">>
    <div data-options="region:'center'," style="height: 100%">
         <div id="toolbar1" style="padding: 2px 5px;">

            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'" onclick=" LoadDg1();" >刷新</a>

            <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="plain:true,iconCls:'icon-add'" onclick="ShowDlg1_2();">新增商户信息</a>

            <!--a href="javascript:void(0)" class="easyui-linkbutton"data-options="plain:true,iconCls:'icon-edit'" onclick="edit();">编辑商户信息</!--a-->
           <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-search'" onclick="ShowDlg1_1();">查看详情</a>

         </div>
         <table id="dg1" class="easyui-datagrid" style="width: 99%; height: 95%">
         </table>

    <!--查看供应商详情-->
    <div id="dlg1_1" style="display: none;">
        <div style="padding-top: 10px; padding-left: 20px;">
            <table>
                <tr>
                    <td style="padding-top: 4px;">
                        <span style="padding: 0px 0px 0px 25px;">商户名称:</span>
                    </td>
                    <td style="padding-top: 4px;">
                        <input class="easyui-textbox" id="dlg1_1_txt_1" style="width: 500px;" readonly="true"/>
                    </td>
                </tr>
                 <tr>
                    <td style="padding-top: 4px;">
                        <span style="padding: 0px 0px 0px 25px;">商户属性:</span>
                    </td>
                    <td style="padding-top: 4px;">
                        <input class="easyui-textbox" id="dlg1_1_txt_2" style="width: 500px;" readonly="true"/>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 4px;">
                        <span style="padding: 0px 0px 0px 25px;">负责人姓名:</span>
                    </td>
                    <td style="padding-top: 4px;">
                        <input class="easyui-textbox" id="dlg1_1_txt_3" style="width: 500px;" readonly="true"/>
                    </td>
                </tr>
                 <tr>
                    <td style="padding-top: 4px;">
                        <span style="padding: 0px 0px 0px 25px;">负责人手机号:</span>
                    </td>
                    <td style="padding-top: 4px;">
                        <input class="easyui-textbox" id="dlg1_1_txt_4" style="width: 500px;" readonly="true"/>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 4px;">
                        <span style="padding: 0px 0px 0px 25px;">所属楼栋:</span>
                    </td>
                    <td style="padding-top: 4px;">
                        <input class="easyui-textbox" id="dlg1_1_txt_5" style="width: 500px;" readonly="true"/>
                    </td>
                </tr>
                 <tr>
                    <td style="padding-top: 4px;">
                        <span style="padding: 0px 0px 0px 25px;">所属编号:</span>
                    </td>
                    <td style="padding-top: 4px;">
                        <input class="easyui-textbox" id="dlg1_1_txt_6" style="width: 500px;" readonly="true"/>
                    </td>
                </tr>
                 <tr>
                    <td style="padding-top: 4px;">
                        <span style="padding: 0px 0px 0px 25px;">占地面积:</span>
                    </td>
                    <td style="padding-top: 4px;">
                        <input class="easyui-textbox" id="dlg1_1_txt_7" style="width: 500px;" readonly="true"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!--创建供应商信息-->
    <div id="dlg1_2" style="display: none;">
        <div style="padding-top: 5px; padding-left: 5px; padding-right: 5px;">
            <div class="easyui-panel" style="padding-top: 4px; padding-left: 20px; width: 680px; height: 400px;">
                <table>
                    <tr>
                        <td style="padding-top: 4px;">
                            <span style="padding: 0px 0px 0px 25px;">商户名称:</span>
                        </td>
                        <td style="padding-top: 4px;">
                            <input class="easyui-textbox" id="dlg1_2_txt_1" style="width: 500px;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 4px;">
                            <span style="padding: 0px 0px 0px 25px;">商户属性:</span>
                        </td>
                        <td style="padding-top: 4px;">
                            <input class="easyui-combobox" id="dlg1_2_txt_2" style="width: 500px;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 4px;">
                            <span style="padding: 0px 0px 0px 25px;">负责人姓名:</span>
                        </td>
                        <td style="padding-top: 4px;">
                            <input class="easyui-textbox" id="dlg1_2_txt_3" style="width: 500px;"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 4px;">
                            <span style="padding: 0px 0px 0px 25px;">负责人手机号:</span>
                        </td>
                        <td style="padding-top: 4px;">
                            <input class="easyui-textbox" id="dlg1_2_txt_4" style="width: 500px;"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 4px;">
                            <span style="padding: 0px 0px 0px 25px;">所属楼栋:</span>
                        </td>
                        <td style="padding-top: 4px;">
                        <select class="easyui-combobox" id="dlg1_2_txt_5" data-options=" valueField: 'id',textField: 'text',panelHeight:'auto'" style="width: 500px;" >
                            <option value="value1" selected="selected">1</option>
                            <option value="value2">2</option>
                            <option value="value3">3</option>
                            <option value="value4">4</option>
                            <option value="value5">5</option>
                            <option value="value6">6</option>
                            <option value="value7">7</option>
                        </select>
                        </td>
                    </tr>
                     <tr>
                        <td style="padding-top: 4px;">
                            <span style="padding: 0px 0px 0px 25px;">所属编号:</span>
                        </td>
                        <td style="padding-top: 4px;">
                            <input class="easyui-textbox" id="dlg1_2_txt_6" style="width: 500px;"/>
                        </td>
                    </tr>
                     <tr>
                        <td style="padding-top: 4px;">
                            <span style="padding: 0px 0px 0px 25px;">占地面积:</span>
                        </td>
                        <td style="padding-top: 4px;">
                            <input class="easyui-textbox" id="dlg1_2_txt_7" style="width: 500px;"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="dlg1_2-buttons1_add" style="display: none;">
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="save()">确定</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="javascript:$('#dlg1_2').dialog('close')">取消</a>
            </div>

        </div>
    </div>

</body>


</html>
