{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head  runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>销售属性配置</title>
     <link rel="stylesheet" href={% static "Themes/EasyUI/default/easyui.css" %} />
    <link rel="stylesheet" href={% static "Themes/EasyUI/icon.css" %} />
    <script src={% static "Themes/EasyUI/jquery.min.js"%}></script>
    <script src={% static "Themes/EasyUI/jquery.easyui.min.js"%}></script>
    <script src={% static "Themes/Scripts/FunctionJS.js"%} type="text/javascript"></script>
</head>
    <script>
        $(document).ready(function () {
        //    InitDg1();
            LoadDg1();//一开始就加载所有
        })


        //////////////////***************商户类型 初始化 + 加载 *************///////////////////////////
        function InitDg1() {
            var datajson = [];

            $("#dg1").datagrid({
                data: datajson,
                title: '商户类型',
                columns: [[
                     { field: 'CK', title: '', checkbox: true, width: "3%" },
                     { field: 'SellerpropertyType', title: '商户类型', width: "15%", align: 'center' }
                ]],
                showFooter: true,
                pagination: true,
                singleSelect: true,
                selectOnCheck: true,
                onClickRow: function (index, row) {
                    //  LoadDg2(row.value_id);
                }
            })
        }


        /***********加载本地数据****************/
        function LoadDg1() {
            var datajson = [];

            var parm = 'action=LoadData';
            getAjax("/SellerPro/", parm, function (backstring) {
                if (backstring != "") {
                    datajson = jQuery.parseJSON(backstring);
                }
            })
            $("#dg1").datagrid('loadData', datajson);//加载本地数据，旧的行将被移除
        }




        //////////////////***************Dlg1_1  工单信息详情查看  *************///////////////////////////
        function ShowDlg1_1() {
            var row_slec = $("#dg1").datagrid('getSelected');
            if (row_slec != null) {
                var value_id = row_slec.value_id;///索引号

                $('#dlg1_1').show();
                $('#dlg1_1').dialog({
                    title: '商户类型详情',
                    width: 700,
                    height: 400,
                    closed: false,
                    shadow: true,
                    onResize: function () {
                        $(this).dialog('center');
                    },
                    onOpen: function () {
                        $("#dlg1_1_txt_1").textbox('setValue', row_slec.SellerpropertyType);   //工单类型

                    },
                    onClose: function () {
                        LoadDg1(0);
                    }
                });
            }
            else {
                alert("勾选要查看的项!");
            }
        }
        //////////////////***************Dlg1_1  工单信息详情查看 结束 *************///////////////////////////

        function save() {
            var name = $("#dlg1_2_txt_1").textbox('getValue');//地点
            var parm = 'action=Save&Proprety=' + name;
            getAjax("/SellerPro/", parm, function (data) {
                var backstring = jQuery.parseJSON(data);
                if (backstring == "1") {
                    $('#dlg1_2').dialog('close');
                    LoadDg1();
                }
                else
                    alert("保存失败");
            })
        }

        //新建工单
        function ShowDlg1_2() {
            $('#dlg1_2').show();
            $('#dlg1_2').dialog({
                title: '新增商户类型',
                width: 705,
                height: 420,
                closed: false,
                shadow: true,
                onResize: function () {
                    $(this).dialog('center');
                },
                onOpen: function () {
                    $("#dlg1_2_txt_1").textbox('setValue', "");//工单类型
                },
                onClose: function () {
                    LoadDg1();
                },
                buttons: '#dlg1_2-buttons1_add',

            });
        }



    </script>



    <style>
        .datagrid-row-selected
        {
            background: rgba(178, 204, 233, 0.50);
        }

        .body
        {
            overflow: hidden;
        }
    </style>

<body class="easyui-layout" style="width: 100%; height: 100%">>
    <div data-options="region:'center'," style="height: 100%">
         <div id="toolbar1" style="padding: 2px 5px;">


            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'" onclick="Refresh()" >刷新</a>

            <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="plain:true,iconCls:'icon-add'" onclick="ShowDlg1_2();">新增信息</a>

            <!--a href="javascript:void(0)" class="easyui-linkbutton"data-options="plain:true,iconCls:'icon-remove'" onclick="delet();">删除信息</a-->
           <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-search'" onclick="ShowDlg1_1();">查看详情</a>

         </div>
         <table id="dg1" title="商户类型" class="easyui-datagrid" data-options="" style="width: 99%; height: 95%;"
            showFooter="true" pagination="true" singleSelect="true" selectOnCheck="true">
              <thead>
                <tr>
                    <th data-options="field:'ck',checkbox:true"></th>
                    {% for i in info_dict %}
                        {% if i.field != 'id' %}
                            <th field={{ i.field }} width={{ i.width }} align={{ i.align }}>{{ i.title }}</th>
                        {% endif %}
                    {% endfor %}

                </tr>
              </thead>
         </table>

    <!--查看工单详情-->
    <div id="dlg1_1" style="display: none;">
        <div style="padding-top: 10px; padding-left: 20px;">
            <table>
                <tr>
                    <td style="padding-top: 4px;">
                        <span style="padding: 0px 0px 0px 25px;">商户类型:</span>
                    </td>
                    <td style="padding-top: 4px;">
                        <input class="easyui-textbox" id="dlg1_1_txt_1" style="width: 500px;" readonly="true">
                    </td>
                </tr>
            </table>
        </div>
    </div>

   <!--创建商户类型-->
    <div id="dlg1_2" style="display: none;">
        <div style="padding-top: 5px; padding-left: 5px; padding-right: 5px;">
            <div class="easyui-panel" style="padding-top: 4px; padding-left: 20px; width: 680px; height: 400px;">
                <table>
                    <tr>
                        <td style="padding-top: 4px;">
                            <span style="padding: 0px 0px 0px 25px;">商户类型:</span>
                        </td>
                        <td style="padding-top: 4px;">
                            <input class="easyui-textbox" id="dlg1_2_txt_1" style="width: 500px"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="dlg1_2-buttons1_add" style="display: none;">
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="save()">确定</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="javascript:$('#dlg1_2').dialog('close')">取消</a>
            </div>

        </div>
    </div>

</body>


</html>


