{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href={% static "Themes/EasyUI/default/easyui.css" %} />
    <link rel="stylesheet" href={% static "Themes/EasyUI/icon.css" %} />
    <script>
        document.write("<link type='text/css' href='/static/demo.css?version=" + new Date().getTime() + "' rel='stylesheet' />");
    </script>
    <script src={% static "Themes/EasyUI/jquery.min.js"%}></script>
    <script src={% static "Themes/EasyUI/jquery.easyui.min.js"%}></script>
    <script src={% static "Themes/Scripts/FunctionJS.js"%} type="text/javascript"></script>


</head>
<body>
<div class="left">
    <div id="divPlugin" class="plugin"></div>
    <fieldset class="login">
        <legend>登录</legend>
        <table cellpadding="0" cellspacing="3" border="0">
  <!--<tr>
               <td class="tt">IP地址</td>
                <td><input id="loginip" type="text" class="txt" value="192.168.0.64" /></td>
              <td class="tt">端口号</td>
                <td><input id="port" type="text" class="txt" value="80" /></td>
            </tr>
            <tr>
                <td class="tt">用户名</td>
                <td><input id="username" type="text" class="txt" value="admin" /></td>
                <td class="tt">密码</td>
                <td><input id="password" type="password" class="txt" value="hbdq123456" /></td>
            </tr>
            <tr>
                <td class="tt">设备端口</td>
                <td colspan="2"><input id="deviceport" type="text" class="txt" />（可选参数）</td>
                <td>-->
                    窗口分割数&nbsp;
                    <select class="sel2" onchange="changeWndNum(this.value);">
                        <option value="1">1x1</option>
                        <option value="2" selected>2x2</option>
                        <option value="3">3x3</option>
                        <option value="4">4x4</option>
                    </select>
                </td>
            </tr>
          <!--  <tr>
                <td class="tt">RTSP端口</td>
                <td colspan="3"><input id="rtspport" type="text" class="txt" />（可选参数）</td>
            </tr>
-->
            <tr>
                <td colspan="4">
                    <input type="button" class="btn" value="登录" onclick="clickLogin()" />
                    <input type="button" class="btn" value="退出" onclick="clickLogout();" />
                    <input type="button" class="btn2" value="获取基本信息" onclick="clickGetDeviceInfo();" />
                </td>
            </tr>
            <tr>
                <td class="tt">已登录设备</td>
                <td>
                    <select id="ip" class="sel" onchange="getChannelInfo();getDevicePort();"></select>
                </td>
                <td class="tt">通道列表</td>
                <td>
                    <select id="channels" class="sel"></select>
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset class="preview">
        <legend>预览</legend>
        <table cellpadding="0" cellspacing="3" border="0">
            <tr>
                   <!-- <td class="tt">码流类型</td>
                    <td>
                         <input id="streamtype" class="sel" value = "1">
                    </input>
                    </td>-->
                    <td>
                <input type="button" class="btn" value="开始预览" onclick="clickStartRealPlay();" />
                <input type="button" class="btn" value="停止预览" onclick="clickStopRealPlay();" />
            </td>
        </tr>
        </table>
    </fieldset>
    <fieldset class="ptz">
        <legend>云台控制</legend>
        <table cellpadding="0" cellspacing="3" border="0" class="left">
            <tr>
                <td>
                    <input type="button" class="btn" value="左上" onmousedown="mouseDownPTZControl(5);" onmouseup="mouseUpPTZControl();" />
                    <input type="button" class="btn" value="上" onmousedown="mouseDownPTZControl(1);" onmouseup="mouseUpPTZControl();" />
                    <input type="button" class="btn" value="右上" onmousedown="mouseDownPTZControl(7);" onmouseup="mouseUpPTZControl();" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" class="btn" value="左" onmousedown="mouseDownPTZControl(3);" onmouseup="mouseUpPTZControl();" />
                    <input type="button" class="btn" value="自动" onclick="mouseDownPTZControl(9);" />
                    <input type="button" class="btn" value="右" onmousedown="mouseDownPTZControl(4);" onmouseup="mouseUpPTZControl();" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" class="btn" value="左下" onmousedown="mouseDownPTZControl(6);" onmouseup="mouseUpPTZControl();" />
                    <input type="button" class="btn" value="下" onmousedown="mouseDownPTZControl(2);" onmouseup="mouseUpPTZControl();" />
                    <input type="button" class="btn" value="右下" onmousedown="mouseDownPTZControl(8);" onmouseup="mouseUpPTZControl();" />
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="3" border="0" class="left">
            <tr>
                <td class="tt">云台速度</td>
                <td>
                    <select id="ptzspeed" class="sel">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4" selected>4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tt">预置点号</td>
                <td><input id="preset" type="text" class="txt" value="1" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" class="btn" value="设置" onclick="clickSetPreset();" />
                    <input type="button" class="btn" value="调用" onclick="clickGoPreset();" />
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="3" border="0" class="left">
            <tr>
                <td class="tt"><input type="button" class="btn2" value="变倍+" onmousedown="PTZZoomIn()" onmouseup="PTZZoomStop()"></td>
                <td><input type="button" class="btn2" value="变倍-" onmousedown="PTZZoomout()" onmouseup="PTZZoomStop()"></td>
            </tr>
            <tr>
                <td class="tt"><input type="button" class="btn2" value="变焦+" onmousedown="PTZFocusIn()" onmouseup="PTZFoucusStop()"></td>
                <td><input type="button" class="btn2" value="变焦-" onmousedown="PTZFoucusOut()" onmouseup="PTZFoucusStop()"></td>
            </tr>
            <tr>
                <td class="tt"><input type="button" class="btn2" value="光圈+" onmousedown="PTZIrisIn()" onmouseup="PTZIrisStop()"></td>
                <td><input type="button" class="btn2" value="光圈-" onmousedown="PTZIrisOut()" onmouseup="PTZIrisStop()"></td>
            </tr>
        </table>
    </fieldset>
    <!-- <fieldset class="playback">
        <legend>回放</legend>
        <table width="100%" cellpadding="0" cellspacing="3" border="0">
            <tr>
                <td class="tt">码流类型</td>
                <td>
                    <select id="record_streamtype" class="sel">
                        <option value="1">主码流</option>
                        <option value="2">子码流</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tt">开始时间</td>
                <td>
                    <input id="starttime" type="text" class="txt" value="2013-12-10 00:00:00" />（时间格式：2013-11-11 12:34:56）
                </td>
            </tr>
            <tr>
                <td class="tt">结束时间</td>
                <td>
                    <input id="endtime" type="text" class="txt" value="2013-12-11 23:59:59" />
                    <input type="button" class="btn" value="搜索" onclick="clickRecordSearch(0);" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="searchdiv" class="searchdiv">
                        <table id="searchlist" class="searchlist" cellpadding="0" cellspacing="0" border="0"></table>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" class="btn2" value="开始回放" onclick="clickStartPlayback();" />
                    <input type="button" class="btn2" value="停止回放" onclick="clickStopPlayback();" />
                    <input type="button" class="btn" value="倒放" onclick="clickReversePlayback();" />
                    <input type="button" class="btn" value="单帧" onclick="clickFrame();" />
                    <input id="transstream" type="checkbox" class="vtop" />&nbsp;启用转码码流
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" class="btn" value="暂停" onclick="clickPause();" />
                    <input type="button" class="btn" value="恢复" onclick="clickResume();" />
                    <input type="button" class="btn" value="慢放" onclick="clickPlaySlow();" />
                    <input type="button" class="btn" value="快放" onclick="clickPlayFast();" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" class="btn" value="抓图" onclick="clickCapturePic();" />
                    <input type="button" class="btn2" value="开始剪辑" onclick="clickStartRecord('playback');" />
                    <input type="button" class="btn2" value="停止剪辑" onclick="clickStopRecord('playback');" />
                    <input type="button" class="btn2" value="OSD时间" onclick="clickGetOSDTime();" />&nbsp;<input id="osdtime" type="text" class="txt" readonly />
                </td>
            </tr>
        </table>
    </fieldset> -->
</div>
<div class="left">
    <fieldset class="operate">
        <legend>操作信息</legend>
        <div id="opinfo" class="opinfo"></div>
    </fieldset>
    <fieldset class="callback">
        <legend>事件回调信息</legend>
        <div id="cbinfo" class="cbinfo"></div>
    </fieldset>
</div>
</body>
<script src="/static/jquery-1.7.1.min.js"></script>
<script id="videonode" src="/static/webVideoCtrl.js"></script>
<script src="/static/demo.js"></script>
</html>